:root {
  --light: #fefefe;
  --bg-color: #010000;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: #27282c;
  width: 100%;
}

h1 {
  font-family: "LXGW WenKai TC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 92px;
  line-height: 92px;
  color: var(--light);
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__img {
  height: 48px;
  width: 48px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu_item {
  font-family: "LXGW WenKai TC", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: var(--light);
  text-decoration: none;
  padding: 0 12px;
  opacity: .6;
}

.navbar__menu_item:hover {
  opacity: 1;
}

.subtitle {
  font-family: "LXGW WenKai TC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  line-height: 42px;
  color: var(--light);
}

.subtitle_purple {
  color: #6b57ff;
}